* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  background-color: #F0F0F0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
 
}

nav > a> img {
  height: 50px;
}
nav > a {
  text-decoration: none;
  color: black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
}
#container {
  height: 440px;
  width: 400px;
  border: 1px solid;
  border-radius: 10px;
  padding: 12px;
  background-color: dimgray;
}

#num-bar {
  display: flex;
  justify-content: end;
  border: 1px solid;
}

#input {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: none;
  text-align: right;
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#grid {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 12px;
}

.item {
  height: 60px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: #ededed;
  border-radius: 5px;
}
.item {
  cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard */
}

.btn-calc, .btn-num {
  color: #218cf3;
  height: inherit;
  width: inherit;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: floralwhite;
}

.btn-calc:hover, .btn-num:hover {
  cursor: pointer;
  border: 1px solid;
}

@media (max-width: 500px) {


  #container {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  #num-bar {
    border: none;
  }

  #input {
    font-size: 18px; 
    padding: 8px;
  }

  #grid {
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
  }

  .item {
    height: 50px;
    width: auto; 
  }

  .btn-calc, .btn-num {

    font-size: 16px;
        height: 100%;
        width: 100%;
  }

  nav {
    align-items: center;
  }

  nav > a {
    margin: 5px 0;
  }

  nav > a > img {
    height: 40px; /* Resize the logo */
  }
}